.container {
  color: #333 !important;

  &.open > a.dropdown-toggle,
  > a.dropdown-toggle {
    &:active,
    &:hover,
    &:focus {
      background-color: transparent !important;
    }

    &:hover {
      color: #eee !important;
    }

    &:focus, &:active {
      color: #ccc !important;
    }
  }
  .dropdown-menu {
    color: #555 !important;
    a {
      color: #555 !important;
    }
  }
}

