{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "test": {
      "presets": ["es2015", "stage-0", "react"],
      "plugins": [
        "transform-decorators-legacy",
        "transform-runtime",
        "add-module-exports"
      ]
    },
    "development": {
      "presets": ["es2015", "stage-0", "react"],
      "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy",
        "transform-runtime",
        "add-module-exports"
      ]
    },
    "production": {
      "presets": ["es2015", "stage-0", "react"],
      "plugins": [
        "transform-decorators-legacy",
        "transform-runtime",
        "add-module-exports"
      ]
    }
  }
}
