.hero {
  height: 600px;
  position: relative;
  background: black;
  color: white;
  transition: height .3s;
}

.move-up {
  margin-top: -50px;
}

.content {
  height: 550px;
  top: 50px;
  position: relative;
  padding-bottom: 100px;
  padding-left: 25px;
  padding-right: 25px;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

.hero-small {
  height: 400px;

  .content {
    height: 350px;
  }
}
