.container {
  display: table;
  position: relative;
}

.horizontal {
  width: 100%;
}

.vertical {
  height: 100%;
}
.top, .middle, .bottom {
  display: table-cell;
}

.top {
  vertical-align: top;
}

.middle {
  vertical-align: middle;
}

.bottom {
  vertical-align: bottom;
}
