$padding-size: 25px;

$color-footer: #E9E9E9;

$fonts: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


// colors
$white: #f5f5f5;
$light-grey: #f5f5f5;
$medium-grey: #82888a;
$dark-grey: #565a5c;


// admin
$admin-nav-background-color: #363c4a;
$admin-nav-text-color: #bbb;
$admin-nav-dropdown-menu-bg: #ffffff;
$admin-nav-dropdown-menu-color: #777888;
