@import "../../styles/base";

.footer {
  background-color: $color-footer;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

.item {
  display: inline-block;
  margin: 1rem;

  a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #BCBCBC;
    text-transform: uppercase;
  }
}
.social {
  padding: 25px;
  a {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 30px 10px 55px;
    opacity: .3;
    text-decoration: none;
    color: #373737;
    transition: opacity .3s;

    &:hover {
      opacity: 1;
    }
  }
}

.twitter {
  background-image: url('/images/twitter_logo.png');
  text-align: right;
}

.facebook {
  background-image: url('/images/facebook_logo.png');
  text-align: left;
}
