@import "base";

.layout {

}

.section-title {
  background: #f2f3f4;
  width: 100%;
  height: 46px;
  border-radius: 3px;
  border: 1px solid darken(#ebeced, 10%);
  box-shadow: 0px 0px 1px darken(#ebeced, 10%);
  margin-bottom: 2rem;
}

.section-title-header {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  padding: 13px;
  color: #555;
}

:global {
  .profile-layout {
    height: 100%;
    background-color: #ebeced;

    .sidebar {
      padding-right: 0;
    }

    .navbar {
      background-color: $admin-nav-background-color;
      color: $admin-nav-text-color;
      font-size: 1.2rem;

      a,
      li > a {
        color: $admin-nav-text-color;
        font-size: 13px;
        font-weight: 600;
        -webkit-font-smoothing: antialias;
        &:hover {
          color: lighten($admin-nav-text-color, 20%);
        }
      }

      .glyphicon {
        margin-right: .4rem;
      }

      .open > .dropdown-toggle {
        background: $admin-nav-background-color;
        color: lighten($admin-nav-text-color, 30%);
        &:hover, &:focus {
          background: $admin-nav-background-color;
          color: lighten($admin-nav-text-color, 30%);
        }
      }

      .dropdown-menu {
        margin-top: -5px;
        border-radius: 3px;
        padding-bottom: 0;

        li.divider {
          padding: 0;
          margin: 0;
        }

        li a {
          margin: 5px 0 5px;
          cursor: pointer;
          background-color: $admin-nav-dropdown-menu-bg;
          color: $admin-nav-dropdown-menu-color;
          padding-top: .5rem;
          padding-bottom: .5rem;
          font-weight: 300;

          &:hover {
            background-color: darken($admin-nav-dropdown-menu-bg, 5%);
            color: darken($admin-nav-dropdown-menu-color, 20%);
          }
        }
      }
    }
  }
}
